<!DOCTYPE html>
<html lang="uz">

<head>
    <meta charset="UTF-8" />
    <title>
        index
    </title>
    <style>
        nav {
            margin-bottom: 20px;
        }

        nav a {
            margin-right: 15px;
            text-decoration: none;
            color: blue;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/api/auth/login">Login</a>
        <a href="/api/auth/signup">Signup</a>
    </nav>


</body>

</html>